.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  width: 30%;
  padding: 50px;
}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.resultNumber {
    display: grid;
    grid-template-columns: repeat(12, 20px);
    column-gap: 20px;
    row-gap: 20px;
}

.newest {
    border: 2px solid red;
}